.homepage {
    position: absolute;
    width: 1440px;
    height: 742px;
    background: #FFFFFF;
}
  
/*.hidden,
  .hidden * {
    pointer-events: none;
    visibility: hidden;
  }
*/
  
.continue-btn {
    align-items: flex-start;
    align-self: center;
    background-color: 
  #00000040;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    left: 527px;
    top: 561px;
    width: 386px;
    height: 112px;
    position: absolute;
    bottom: 200px;
    transition: 300ms;
  }

.title {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    font-family: 'Tahoma';
    font-style: normal;
    font-weight: 700, bold;
    font-size: 32px;
    line-height: 39px;
    width: 430px;
    display:flex;
    align-items: center;
    text-align:center;

    color: #FFFFFF;
  }
  
.image-2 {
    height: 334px;
    top: 135px;
    object-fit: cover;
    width: 1118px;
    left: 161px;
    right: 160px;
    bottom: 273px;
    position: absolute;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }